[submodule "Suoh/Vendor/type_safe"]
	path = Suoh/Vendor/type_safe
	url = git@github.com:foonathan/type_safe.git
[submodule "Suoh/Vendor/glfw"]
	path = Suoh/Vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Suoh/Vendor/vma"]
	path = Suoh/Vendor/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Suoh/Vendor/Vulkan-Headers"]
	path = Suoh/Vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Suoh/Vendor/glslang"]
	path = Suoh/Vendor/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "Suoh/Vendor/glm"]
	path = Suoh/Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Suoh/Vendor/stb_image"]
	path = Suoh/Vendor/stb_image
	url = git@github.com:nothings/stb.git
[submodule "Suoh/Vendor/assimp"]
	path = Suoh/Vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "Suoh/Vendor/imgui"]
	path = Suoh/Vendor/imgui
	url = git@github.com:ocornut/imgui.git
